.open-api {
  &__action-items {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: flex-end;
  }
  &__banner {
    & > .detail {
      align-self: center;
    }
    & > span {
      margin-left: 0.5rem;
      align-self: center;
    }
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  &__methods {
    padding: 1rem;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(34,36,38,.15);
    width: 600px;
    border-radius: 0.25em;
  }
  &__super-script {
    &:before {
      content: '* required';
    }
    font-size: .83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    color: red;
  }
  &__items-vertically {
    & > p {
      margin: 0;
      font-weight: 600;
    }
    & > span {
      font-size: 0.8rem;
    }

  }
  &__capitalize-uppercase {
    text-transform: uppercase;
  }
  grid-area: f;
  width: 100%;
  font-family: 'KoHo', sans-serif;
  &__dropdown {
    width: 600px !important;
  }
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    margin-top: 1rem;
    &__input-swagger {
      width: 600px,
    }
  }
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20%;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 80%;
  align-self: auto;
  order: 0;
}
.spaced {
  flex-basis: 30% !important;
}

.fullwidth {
  width: 100%;
}
